.button {
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  background-color: $blue;
  color: $black;
  text-decoration: none;
  border-radius: 6px;
  border: none;
  padding: 16px 52px;
  display: inline-block;
  cursor: pointer;

  @media (max-width: $desktop-width) {
    padding: 16px 49px;
  }

  @media (max-width: $tablet-width) {
    padding: 15px 33px;
  }
}
