.fact {
  padding-top: 151px;
  padding-bottom: 111px;

  @media (max-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 27px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 2px;
    padding-bottom: 35px;
  }
}

.fact h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $dark;
  letter-spacing: -0.005em;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 56px;

  @media (max-width: $desktop-width) {
    font-size: 24px;
    line-height: 41px;
    margin-bottom: 37px;
  }
}

.fact__list {
  max-width: 1166px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  counter-reset: section;
  list-style-type: none;
  padding: 0;

  @media (max-width: $desktop-width) {
    width: 556px;
  }

  @media (max-width: $tablet-width) {
    width: 290px;
    align-items: center;
    justify-content: center;
  }
}

.fact__list-item {
  position: relative;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: $black;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 47px;
  margin-bottom: 40px;
  width: 263px;

  &::before {
    position: absolute;
    counter-increment: section;
    content: "0" counter(section);
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -1px;
    color: $blue;
  }

  @media (max-width: $desktop-width) {
    margin-bottom: 49px;
  }

  @media (max-width: $tablet-width) {
    font-size: 18px;
    width: 271px;
    margin-bottom: 42px;
  }
}

.fact__list-item--last {
  @media (max-width: $desktop-width) {
    margin-bottom: 42px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 49px;
  }
}

.fact__list-item:last-child {
  @media (max-width: $tablet-width) {
    margin-bottom: 40px;
  }
}
