.main-nav__toggle {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  background-color: $blue;
  cursor: pointer;
  border: none;
  display: none;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 10px;
    background-image: url("../img/menu-icon.svg");
    background-repeat: no-repeat;
  }

  @media (max-width: $desktop-width) {
    display: flex;
  }
}

.page-header--nojs .main-nav__toggle {
  display: none;
}

.page-header--opened .main-nav__toggle {
  height: 52px;
  background-color: $white;

  &::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-image: url("../img/cross.svg");
  }
}
