.page-header {
  position: relative;
  background-image: url("../img/bike.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: $video-dark;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bike@2x.jpg");
  }

  @media (max-width: $desktop-width) {
    background: none;
  }
}

.webp .page-header {
  background-image: url("../img/bike.webp");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bike@2x.webp");
  }

  @media (max-width: $desktop-width) {
    background: none;
  }
}

.page-header__wrapper {
  max-width: 879px;
  width: 100%;
  margin: 0 auto;
  margin-top: 250px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 219px;

  @media (max-width: $desktop-width) {
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 26px;
    padding-bottom: 43px;
  }
}

.page-header__container {
  @media (max-width: $desktop-width) {
    background-image: url("../img/bike-tablet.jpg");
    background-color: $video-dark;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding: 135px 0 80px;
    width: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bike-tablet@2x.jpg");
    }
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
    padding: 121px 0 70px;
    background-image: url("../img/bike-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bike-mobile@2x.jpg");
    }
  }
}

.webp .page-header__container {
  @media (max-width: $desktop-width) {
    background-image: url("../img/bike-tablet.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bike-tablet@2x.webp");
    }
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/bike-mobile.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bike-mobile@2x.webp");
    }
  }
}

.page-header__logo {
  @media (max-width: $desktop-width) {
    position: absolute;
    z-index: 6;
    top: 19px;
    left: 22px;
  }
}

.page-header--opened .page-header__logo {
  @media (max-width: $desktop-width) {
    display: none;
  }
}

.page-header__slogan h2 {
  width: 381px;
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.005em;
  color: $white;
  margin: 0;
  padding: 0;
  margin-top: 27px;
  margin-bottom: 25px;

  @media (max-width: $desktop-width) {
    width: 435px;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 19px;
  }

  @media (max-width: $tablet-width) {
    width: 288px;
  }
}

.page-header__slogan p {
  width: 381px;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.005em;
  color: rgba($white, 0.8);

  @media (max-width: $desktop-width) {
    width: 435px;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
  }

  @media (max-width: $tablet-width) {
    width: 288px;
  }
}
