.page-footer {
  padding-top: 50px;

  @media (max-width: $desktop-width) {
    padding-top: 46px;
  }
}

.page-footer__address {
  text-align: center;
  padding-top: 72px;

  @media (max-width: $desktop-width) {
    padding-top: 0;
  }

  @media (max-width: $tablet-width) {
    padding-top: 6px;
  }
}

.page-footer__address h3 {
  color: $dark;
  font-size: 30px;
  letter-spacing: -0.005em;
  font-weight: 600;

  @media (max-width: $desktop-width) {
    font-size: 24px;
    margin-bottom: 20px;
  }

  @media (max-width: $tablet-width) {
    font-size: 18px;
  }
}

.page-footer__address p {
  font-weight: 400;
  font-size: 17px;
  line-height: 31px;
  width: 555px;
  opacity: 0.7;
  margin: 0 auto;
  margin-bottom: 39px;

  @media (max-width: $desktop-width) {
    width: 629px;
    margin-bottom: 20px;
  }

  @media (max-width: $tablet-width) {
    width: 268px;
  }
}

.page-footer__wrapper {
  margin: 0 auto;
  width: 957px;

  @media (max-width: $desktop-width) {
    width: 698px;
  }

  @media (max-width: $tablet-width) {
    width: 320px;
  }
}

.page-footer__map {
  border: none;

  @media (max-width: $desktop-width) {
    width: 698px;
    height: 545px;
  }

  @media (max-width: $tablet-width) {
    height: 250px;
    width: 320px;
  }
}

.page-footer__contacts {
  display: flex;
  width: 564px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 35px;
  padding-bottom: 98px;

  @media (max-width: $desktop-width) {
    margin-top: 17px;
    padding-bottom: 53px;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 26px;
    margin-top: 26px;
  }
}

.page-footer__contacts a {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $black;
  opacity: 0.5;
  padding: 0;
  margin: 0;
  padding-left: 41px;
  text-decoration: none;

  &:hover {
    background-color: $input-border;
  }

  &:active {
    background-color: rgba($input-border, 0.6);
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.page-footer__contacts-mail::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 26px;
  height: 20px;
  background-image: url("../img/mail-icon.svg");
  background-repeat: no-repeat;
}

.page-footer__contacts-tel::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 17px;
  height: 24px;
  background-image: url("../img/tel-icon.svg");
  background-repeat: no-repeat;
}
