.page-header {
  position: relative;
  background: url("../img/bike.webp") center top no-repeat, url("../img/bike.jpg") center top no-repeat;
  background-color: $video-dark;

  @media (min-resolution: 2dppx) {
    background: url("../img/bike@2x.webp") center top no-repeat, url("../img/bike@2x.jpg") center top no-repeat;
    background-size: 100% auto;
  }

  @media (max-width: $desktop-width) {
    background-image: none;
    background-color: transparent;
  }
}

.page-header__wrapper {
  width: 879px;
  margin: 0 auto;
  margin-top: 250px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 219px;

  @media (max-width: $desktop-width) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 435px;
    margin-top: 0;
    margin-bottom: 26px;
    padding-bottom: 43px;
  }

  @media (max-width: $tablet-width) {
    width: 288px;
  }
}

.page-header__container {
  @media (max-width: $desktop-width) {
    background: url("../img/bike-tablet.webp") center top no-repeat, url("../img/bike-tablet.jpg") center top no-repeat;
    background-color: $video-dark;
    width: 768px;
    padding: 135px 0 80px;

    @media (min-resolution: 2dppx) {
      background: url("../img/bike-tablet@2x.webp") center top no-repeat, url("../img/bike-tablet@2x.jpg") center top no-repeat;
      background-size: 100% auto;
    }
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
    width: 320px;
    padding: 121px 0 70px;
    background: url("../img/bike-mobile.webp") center top no-repeat, url("../img/bike-mobile.jpg") center top no-repeat;

    @media (min-resolution: 2dppx) {
      background: url("../img/bike-mobile@2x.webp") center top no-repeat, url("../img/bike-mobile@2x.jpg") center top no-repeat;
      background-size: 100% auto;
    }
  }
}

.page-header__logo {
  @media (max-width: $desktop-width) {
    position: absolute;
    top: 19px;
    left: 22px;
  }
}

.page-header__slogan h2 {
  width: 381px;
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.005em;
  color: $white;
  margin: 0;
  padding: 0;
  margin-top: 27px;
  margin-bottom: 25px;

  @media (max-width: $desktop-width) {
    width: 435px;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 19px;
  }

  @media (max-width: $tablet-width) {
    width: 288px;
  }
}

.page-header__slogan p {
  width: 381px;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.005em;
  color: rgba($white, 0.8);

  @media (max-width: $desktop-width) {
    width: 435px;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
  }

  @media (max-width: $tablet-width) {
    width: 288px;
  }
}
