.site-list {
  max-width: 835px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-bottom: 1px solid rgba($white, 0.2);
  padding: 0;
  padding-top: 17px;
  padding-bottom: 8px;

  @media (max-width: $desktop-width) {
    position: absolute;
    max-width: 100%;
    z-index: 5;
    top: 0;
    left: 0;
    padding: 0;
    padding-top: 100px;
    padding-bottom: 138px;
    justify-content: stretch;
    flex-direction: column;
    display: none;
  }
}

.site-list__item a {
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  color: rgba($white, 0.7);
  letter-spacing: -0.005em;
  text-decoration: none;

  &:hover {
    color: $white;

    @media (max-width: $desktop-width) {
      color: $dark-grey;
      background-color: $input-border;
    }
  }

  &:active {
    color: rgba($white, 0.3);

    @media (max-width: $desktop-width) {
      color: $dark-grey;
      background-color: rgba($input-border, 0.5);
    }
  }

  @media (max-width: $desktop-width) {
    position: relative;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: $dark-grey;
    background-color: $light-grey;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 16px;
    margin-bottom: 30px;
    display: block;
  }
}

.site-list__item a::after {
  @media (max-width: $desktop-width) {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 25px;
    right: 8px;
    background-image: url("../img/shape.svg");
    background-repeat: no-repeat;
  }
}

.page-header--opened .site-list {
  @media (max-width: $desktop-width) {
    display: flex;
    background-color: $white;
  }
}

.page-header--nojs .site-list {
  @media (max-width: $desktop-width) {
    position: relative;
    display: flex;
  }
}
