.video {
  position: relative;
  padding-top: 91px;
  background: linear-gradient(180deg, $video-dark 87.8%, $white 12.2%);

  @media (max-width: $desktop-width) {
    padding-top: 46px;
    background: linear-gradient(180deg, $video-dark 82.9%, $white 17.1%);
  }

  @media (max-width: $tablet-width) {
    padding-top: 60px;
    background: linear-gradient(180deg, $video-dark 88.8%, $white 11.2%);
  }
}

.video__text {
  max-width: 350px;
  margin: 0 auto;
  padding-bottom: 39px;
  text-align: center;
  color: $white;
  letter-spacing: -0.005em;

  @media (max-width: $desktop-width) {
    max-width: 429px;
    padding-bottom: 23px;
  }

  @media (max-width: $tablet-width) {
    max-width: 288px;
    padding-bottom: 37px;
  }
}

.video__text h3 {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;

  @media (max-width: $desktop-width) {
    font-size: 24px;
  }
}

.video__text p {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
}

.video__image {
  position: relative;
}

.video__image img {
  display: block;
  width: 100%;
  max-width: 929px;
  height: auto;
  margin: 0 auto;

  @media (max-width: $desktop-width) {
    width: 503px;
    object-fit: cover;
  }

  @media (max-width: $tablet-width) {
    width: 288px;
  }
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  padding: 0;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: $desktop-width) {
    width: 90px;
    height: 90px;
  }

  @media (max-width: $tablet-width) {
    width: 65px;
    height: 65px;
  }
}

.video__button img {
  width: 13px;
  height: 18px;
  margin: auto;

  @media (max-width: $desktop-width) {
    width: 18px;
    height: 25px;
  }

  @media (max-width: $tablet-width) {
    width: 13px;
    height: 18px;
  }
}
