.wrapper {
  position: relative;
  height: 825px;
  background-image: url("../img/bike.jpg");
  background-repeat: no-repeat;
  background-position: center top;

  @media (max-width: $desktop-width) {
    height: 340px;
    background-image: url("../img/bike-tablet.jpg");
  }

  @media (max-width: $tablet-width) {
    height: 390px;
    background-image: url("../img/bike-mobile.jpg");
  }
}
